h3 = @company.company_name
h4 = @company.company_category

- if can? :manage, Company
  | Атулеты
  = render partial: 'outlet_list', collection: @outlets, as: :outlet

= link_to "Редактировать компанию", edit_company_path(@company)
= link_to "Создать новый аутлет", new_outlet_path(company_id: @company.id)

= link_to 'Back', companies_path
