.outlet_title {

}

.outlet_list {
 width: 840px;
 display: flex;
 flex-direction: column;
  justify-content: space-between;
}

.outlet_line {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  // flex-direction: row;
  justify-content: space-between;
  width: 840px;
}
