.page-wrapper {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 32px 0;
  }
}

.selectors {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 8px 0;
}


.select-role, .select-company, .select-outlet {
  select {
    font-family: 'CoFo Sans Medium';
    background-color: white;
    border: 1px solid #E5E5E5;
    width: 200px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.actions {
  input[type="submit"] {
    height: 40px;
    border-radius: 6px;
    background-color: #F9901C;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: block;
    cursor: pointer;
    font-family: 'CoFo Sans Medium';
    width: 366px;
    line-height: 40px;
  }
}
