.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 5000;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  z-index: 5000;
}

.product-modal {
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
}

.booking-modal {
  top: 20%;
  left: 30%;
  width: 50%;
  height: 30%;
}

.instruction-modal {
  top: 20%;
  left: 28%;
  width: 630px;
  height: 460px;
  background-image: image-url('instruction.png');
  background-repeat: no-repeat;
}

.close-btn {
  float: right;
  color: black;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  padding: 10px;
}

.close-btn:hover {
  color: black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.product-pic {
  margin-right: 24px;
}

.popup-product_card_info {
  width: 100%;
  padding-top: 24px;

  flex: 0 1 auto;
  min-height: 180px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .details {
    margin-right: 16px;

    h3,
    h4 {
      margin-top: 12px;
    }

    .disabled_price {
      display: none;
    }

    p {
      margin-top: 6px;
    }
  }

  .popup-card-buttons {
    display: flex;
    align-content: center;
    margin: 16px 0;

    .button_book {
      margin-right: 24px;
    }
  }
}

.booking-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 166px;

  h3 {
    font-family: 'CoFo Sans Regular';
  }
}

.submit-field {
  display: flex;
  align-items: center;
  margin-top: 24px;

  input[type="email"] {
    margin: 0;
    margin-right: 24px;
  }

  .button {
    width: 130px;
    height: 44px;
  }
}
