.devise_container {
  width: 100%;
  height: 100vw;
  position: fixed;
  background-image: image-url('background_bread');
}

.devise_form, .devise_form-invitations, .devise_form-new-company .user_wrapper {
  width: 350px;
  height: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 130px;
  padding: 70px;
  border-radius: 30px;

  h2 {
    margin-bottom: 30px;
  }

  label {
    font-family: 'CoFo Sans Medium';
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.devise_form-invitations {
  width: 650px;

  input[type="text"] {
    width: 414px;
  }

  .button {
    display: flex;
    justify-content: center;
  }
}

.invite {
  width: 400px;
  height: 200px;
  margin: auto;
  margin-top: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 70px;

  label {
    font-family: 'CoFo Sans Medium';
    font-size: 18px;
    margin-bottom: 10px;
  }

}
